h1 {
    color: red
    ;
}
body {
    font-family: 'roboto',sans-serif ;
     
}
nav ul li {
    display: inline;
}
.index 1{
    color: red;
}
.index2{
    color: yellow;
}
#my header{
    color: blue;
}
